<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dd3609ce-62a9-4efd-8e6e-6424ef5da834/resourceGroups/Dev-resources/providers/Microsoft.Web/sites/test-app5</ResourceId>
    <ResourceGroup>Dev-resources</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://test-app5-csfmffe3atbxhtfe.northeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>779a83ea-4aa7-4722-aa31-d2ace0da6a3b</ProjectGuid>
    <PublishUrl>https://test-app5-csfmffe3atbxhtfe.scm.northeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$test-app5</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>